*{
    scrollbar-width: thin;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/Manrope.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root{
    --primary-color: #f43f01;
    --primary-light-color: #f43e013f;
    --primary-bg-color: #151b23;
    --spacing-unit: 1rem;
    --card-bg: #08121d;
    --card-padding: 12px 15px;
    --button-padding: 7px 10px;
    --border-round-small: 6px;
    --light-border: rgb(88, 88, 88);
    --card-round-small: 8px;
}

body{
    padding: 5px;
    height: 550px;
    width: 450px;
    background-color: var(--primary-bg-color);
    color: white;
    font-family: Manrope, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid white; */
    color-scheme: dark;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-heading{
    font-size: 20px;
    font-weight: 700;
}

button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: var(--button-padding);
    border-radius: var(--border-round-small);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-family: Manrope;

    &:hover{
        background-color:#e23900;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

.button-fancy{
    background-color: var(--primary-light-color);
    border: 1px solid var(--primary-color);

    &:hover{
        background-color:#f43e0156;
        cursor: pointer;
    }
}

.branding{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.branding img{
    height: 24px;
}

.text-like-link{
    color: white;
    text-decoration: none;
    font-size: 13px;

    &:hover{
        text-decoration: underline;
    }
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-family: Manrope;
    padding: 10px 10px;
    border-top: var(--light-border) 1px solid;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--card-bg);
}

.state-headings{
    font-size: 20px!important;
    font-weight: 500;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 50px;
}

.state-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

input, select{
    background-color: #1e2732;
    color: white;
    border: var(--light-border) 1px solid;
    padding: var(--button-padding);
    border-radius: var(--border-round-small);
    font-family: Manrope, system-ui, sans-serif;

    &:hover{
        cursor: text;
    }
}

input:focus,
input:active,
select:focus,
select:active {
    box-shadow: none;
    border: 1px solid var(--primary-color);
    outline: none;
}


select:hover{
    cursor: pointer;
}

.checkbox-item{
    display: flex;
    flex-direction: row;
    gap: 5px;

    &:hover{
        cursor: pointer!important;
    }
}

input[type="checkbox"]{
    accent-color: var(--primary-color);
    width: 13px;
    height: 13px;
    cursor: pointer;
}

label{
    font-size: 14px;
}

.group-label{
    font-size: 14px;
}

.form-group-two-items{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
}

.create-monitor-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
}

label{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.create-monitor-popup{
    background-color: #151b23a1;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease, visibility 0.2s ease;
}


.create-monitor-popup.active{
    opacity: 1;
    visibility: visible;
}


.link-with-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.credits{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


.small-para{
    font-size: small;
    margin: 0;
}

.notification-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    padding: var(--card-padding);
    border-radius: var(--border-round-small);
    border: 1px solid var(--light-border);
    background-color: var(--card-bg);
}

.close-button{
    background-color: var(--card-bg);
    height: 30px;
    width: 30px;
    border-radius: 100px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.required-keyword{
    display: none;
}

.group-of-two{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.message-popup{
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    background-color: var(--card-bg);
    width: fit-content;
    padding: 12px 14px;
    border-radius: var(--border-round-small);
    border: 1px solid var(--light-border);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;

    transition: opacity 0.25s ease, transform 0.25s ease;
}

.message-popup.show{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.message-text{ 
    font-size: 14px;
    margin: 0; 
}

.indicator{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    border-top: 1px solid var(--light-border);
    padding-top: 8px;
    margin-top: 10px;
}

.content {
    margin-bottom: 10px;
}

.monitor-card-parent{
    padding: 0px 5px;
    margin: 10px 0 12px 0;
}

.monitor-cards-rendered-from-js{
    margin: 20px 0;
    margin-top: 5px;
    max-height: 84vh;
    overflow-y: auto;
    padding-right: 2px;
}

.monitor-card{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: var(--card-bg);
    border-radius: var(--card-round-small);
    justify-content: space-between;
    padding: 10px 0 0 0;
    border: 1px solid rgba(88, 88, 88, 0.577);
}

.monitor-content{
    margin-right: 0px;
}

.monitor-actions{
    position: absolute;
    bottom: -5px;
    right: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--light-border);
    padding: 5px 7px; 
    background-color: #1e2732;
    gap: 8px;
    width: fit-content;   
    border-radius: var(--border-round-small);
    z-index: 5;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.monitor-card:hover .monitor-actions {
    opacity: 1;
}

.separator {
    width: 1px;
    height: 14px;
    background-color: var(--light-border);
}

.monitor-actions img{
    width: auto;
    height: 14px;

    &:hover{
        cursor: pointer;
    }
}

.info-on-left, .info-on-right, .info-on-right-indicator{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.info-on-right-indicator{
    gap: 0px !important;
}

.info-on-right-and-edit{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.indicator-state{
    font-size: 14px;
}

.last-check, .check-interval{
    font-size: 14px;
}

.endpoint{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.endpoint-url, .monitor-name{
    font-size: 14px;
}

.monitor-actions-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    &:hover{
        cursor: pointer;
    }
}

.monitor-actions-text{
    font-size: 14px;
}

.alert-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--light-border);
    padding-top: 8px;
}

.info-on-left-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.monitor-text-fixed {
    white-space: nowrap;
    font-size: 14px;
}

.monitor-type-text {
    font-size: 14px;
    color: #fff;
}


.chip {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #1e2732;
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 13px;
    color: #cbd5e1;
    border: 1px solid var(--light-border);
}


.chip img {
    width: 14px;
    height: 14px;
    opacity: 0.8;
}

.chip span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.monitor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted var(--light-border);
    padding-bottom: 10px;
    margin-bottom: 0px; 
    padding: 0 12px 12px 12px;
}

.monitor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.grid-item {
    padding: 10px 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    border-bottom: 1px dotted var(--light-border); 
}

.grid-item:last-child {
    border-bottom: none;
}

.grid-item:nth-child(1) {
    border-right: 1px dotted var(--light-border);
}

.grid-item:not(:nth-child(1)) {
    border-right: none;
}

.grid-item:nth-child(3),
.grid-item:nth-child(4) {
    grid-column: span 2;
}

.grid-item:nth-child(3) .grid-value,
.grid-item:nth-child(4) .grid-value {
    width: 70%;
    justify-content: flex-end;
}

.grid-item:nth-child(3) .grid-label-wrapper,
.grid-item:nth-child(4) .grid-label-wrapper {
    width: 30%;
}


.monitor-type-text {
    white-space: nowrap;
}

.grid-label-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
    width: 50%; 
}

.grid-label {
    font-size: 11px;
    color: #8b949e; 
    text-transform: uppercase;
    letter-spacing: 0.5px;
    flex-shrink: 0; 
}

.grid-label-wrapper img {
    opacity: 0.8;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.grid-value {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 4px;
    font-size: 13px;
    color: #e6edf3;
    overflow: hidden; 
    width: 50%;
}

.grid-value img {
    display: none; 
}


.endpoint-url {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.grid-value span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
